{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">

    <hr>

    <h3 class="center">Lista detalhada</h3>
   
    <hr>

    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Modelo</th>
                <th>Montadora</th>
                <th>Chassi</th>
                <th>Preço</th>
                <th>Comandos</th>
            </tr>

            <tr>
                <td>{{ carro.modelo }}</td>
                <td>{{ montadora }}</td>
                <td>{{ carro.chassi }}</td>
                <td>{{ carro.preco }}</td>
                <td>
                    <a href="{% url 'detalhes-carro' carro.id %}" class="btn btn-warning btn-sm" title="Editar">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a href="#" class="btn btn-danger btn-sm" title="Excluir">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>

        </table>

    </div>
     
</div>
{% endblock %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>